.recommended-kingdoms {
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* Adjust this value as needed */
  margin: 0; /* Remove margin */
}

h2 {
  margin: 10px 0; /* Reduce margin around headers */
}

hr {
  margin: 10px 0; /* Reduce margin around horizontal rules */
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Optional: Add padding inside cards */
}